.card{
    width: 300px;
    border: 2px solid lightgray;
    border-radius: 10px;
    font-family:Arial, Helvetica, sans-serif;
    margin: 30px;
}
.pad{
    padding: 15px;
    svg{
        height: 20px;
        width: 15px;
        /* margin: 5px; */
    }
}
img{
    width: 100%;
}
p{
    color: rgb(131, 123, 123);
}
.action{
    font-size: 10px;
    
}
.btn{
    padding: 10px 20px;
    border: 1.5px solid lightgray;
    border-radius: 5px;
    color: #498cec;
    background:#fff;
}
h4{
    font-weight: 550;
}